{% extends 'base.html.twig' %}

{% block title %}Affichage stage en particulier{% endblock %}

{% block contenuBody %}
<h1>Cette page affichera le descriptif du stage ayant pour id {{id}}</h1>
{% endblock %}